<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		<!-- Config. conexão com o MySQL -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="connection.datasource">java:/comp/env/jdbc/EasycondBD</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- Config. pool de conexão -->
		<property name="c3po.min_size">5</property>
		<property name="c3po.max_size">20</property>
		<property name="c3po.timeout">300</property>
		<property name="c3po.max_statements">50</property>
		<property name="c3po.idle_test_period">3000</property>
		
		<!-- Configs para o debug -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="generate_statistics">true</property>
		<property name="use_sql_comments">true</property>
		
		<!-- Espaço para declaração de classes das entidades de tabelas -->
		<mapping class="br.com.easycond.model.Usuario"/>
		<mapping class="br.com.easycond.model.Aviso"/>
		<mapping class="br.com.easycond.model.Assembleia"/>
		<mapping class="br.com.easycond.model.Enquete"/>
		<mapping class="br.com.easycond.model.Pessoa"/>
		<mapping class="br.com.easycond.model.SolicitacaoAviso"/>
		<mapping class="br.com.easycond.model.Apartamento"/>
		<mapping class="br.com.easycond.model.Bloco"/>
		<mapping class="br.com.easycond.model.Votos"/>
		<mapping class="br.com.easycond.model.Reserva"/>
		<mapping class="br.com.easycond.model.EspacoFisico"/>
		
	</session-factory>
</hibernate-configuration>