/* TOGGLE */
.aw-toggle {
	line-height: 50px;
	margin-right: 15px;
	position: fixed;
	color: #fff;
	margin-top: 19px;
	margin-left: 10px;
}

.aw-user {
	float: right;
	line-height: 50px;
	margin-right: 15px;
	
	color: #fff;
}

.aw-exit {
	float: right;
	display: inline-grid;
	margin-top: 17px;
}

.logo-navbar {
	width: 150px;
	padding-left: 30px;
	position: fixed;
}

/* MENU */
.aw-menu {
	font-size: 1.1em;
}

.aw-menu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.aw-menu > ul a {
	display: block;
	padding: 10px 15px;
	
	text-decoration: none;
	font-weight: 500;
	color: #373737;
} 

.aw-menu > ul i {
	margin-right: 6px;
}

.aw-menu > ul a:hover, .aw-menu > ul a:focus {
	background-color: #dfdfdf;
}

.aw-menu > ul .is-selected {
	border-left: 3px solid #1e94d2;
	background-color: #f3f3f3;
}

.aw-menu > ul .is-selected a {
	margin-left: -3px;
	color: #1e94d2;
}

/* PAGE-TITLE */
.aw-page-title {
	margin: 0;
	padding: 20px 0;
	
	font-size: 1.5em;
	color: #373737;
}

h1 {
	padding-top: 15px;
}

.panel-aviso {
	margin-top: 35px;
	margin-bottom:0;
}

.aviso-title {
	font-weight: bold; 
	font-size: 20px;
}

.panel-ocorrencia-multa .ui-panel-titlebar {
	background-color: #ff4242;
	color: #ffffff;
}

.panel-ocorrencia-advertencia .ui-panel-titlebar {
	background-color: #fff538;
}

.input-form {
	height: 35px;
}

.btn-cadastro {
	width: 150px;
	height: 35px;
	margin-left: 10px;
}

.btn-votacao {
	width: 150px;
	height: 35px;
}

.btn-novo {
	width: 150px;
	height: 35px;
	margin-bottom: 15px;
}

.label-text {
	font-weight: bold;
}